apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/thestormforge/examples/jvm

patchesJson6902:
- target:
    group: redskyops.dev
    version: v1beta1
    kind: Experiment
    name: jvm-reactors-testing
  path: add-patches.yaml
