apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/redskyops/redskyops-recipes/voting-webapp

patchesJson6902:
- target:
    group: redskyops.dev
    version: v1alpha1
    kind: Experiment
    name: voting-app-example
  path: add-patches.yaml
