name: Pull Request workflow
on:
  pull_request:
    branches:
      - master

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.outputter.outputs.needed }}"
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check if any changes for elasticsearch
        id: elasticsearch
        run: |
          git diff HEAD origin/master --exit-code -- elasticsearch || \
          echo "::set-output name=needed::elasticsearch"
      - name: Make output
        id: outputter
        run: |
          echo "${{ steps.elasticsearch.outputs.needed }} | \
          jq --slurp --raw-output --raw-input -c '
            split("\n")[:-1] |
            map(select(length > 0)) |
            "::set-output name=needed::\(.)"'

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: check
    strategy:
      matrix:
        experiment: ${{ fromJson(needs.check.outputs.matrix) }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: KinD (Kubernetes in Docker) Initialization
        uses: helm/kind-action@v1.1.0
        with:
          version: v0.9.0
      - name: Download and Setup redskyctl
        run: |
          .ci/setup_redskyctl.sh
      - name: Install kustomize
        run: |
          .ci/install_kustomize.sh
      - name: Run sample trial for ${{ matrix.experiment }}
        run: |
          .ci/${{ matrix.experiment }}/ci.sh
      - name: The job has failed
        if: ${{ failure() }}
        run: |
          kubectl get trial,experiment,svc,pod -o wide || :
          kubectl get pods -o wide || :

